body {
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.container .card {
  width: 384px;
  height: 454px;
  border-radius: 10px;
  padding: 48px 32px 32px;
}
.container .card .subtitle {
  color: var(--color-3);
  text-transform: uppercase;
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 14px;
}
.container .card .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 32px;
}
.container .card .title, 
.container .card .price span {
  text-transform: uppercase;
  font-family: 'Titillium Web';
  font-weight: 700;
  font-size: 32px;
}
.container .card .price span {
  font-size: 24px;
}
.container .card-light:hover {
  border: 1px solid var(--color-3);
}
.container .card-light .title, 
.container .card-dark .price {
  color: var(--color2);
}
.container .card-dark .title, 
.container .card-dark .price {
  color: var(--color-8);
}
.container .card-light {
  background-color: var(--color-8);
  border: 1px solid var(--color-7);
}
.container .card-dark {
  background-color: var(--color-1);
}
.container .button {
  padding: 16px 24px;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 32px;
  cursor: pointer;
}
.container .btn-light {
  border-color: var(--color-1);
  background-color: var(--color-8);
}
.container .btn-dark {
  border-color: var(--color-3);
  background-color: var(--color-3);
  color: var(--color-8);
}
.container .btn-dark:hover {
  border-color: #7C3AED;
  background-color: #7C3AED;
}
.container .btn-light:hover {
  background-color: #1E293B;
  color: var(--color-8)
}
.container .description .item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.container .card .description {
  border-top: 1px solid;
}
.container .card-dark .description {
  border-color: var(--color-9);
}
.container .card-light .description {
  border-color: var(--color-7);
}
.container .description p:first-child {
  margin-top: 32px;
}
.container .card .description p {
  font-family: 'Titillium Web';
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
.container .card-dark .description p {
  color: var(--color-6);
}
.container .card-light .description p {
  color: var(--color-10);
}
.container .description .check {
  width: 20px;
}
.container .description .info {
  width: 14px;
  margin-left: auto;  
  cursor: pointer;
}