@media (max-width: 1200px) {
  .container {
    justify-content: space-around; 
  }
  .container .card .subtitle {
    font-size: 14px;
  }
  .container .card .heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .container .card .title {
    font-size: 24px;
  }
  .container .card .price {
    font-size: 14px;
  }
  .container .card .price span {
    font-size: 14px;
  }
  .container .card .description p {
    font-size: 14px;
  }
  .container .card .description .check {
    width: 16px;
  }
  .container .card .description .info {
    width: 16px;
  }
}
@media (max-width: 780px) {
  body {
    height: 100%;
  }
  .container {
    flex-direction: column;
    margin: 50px 0;
  }
  .container .card {
    width: 320px;
  }
  .container .card .heading {
    flex-direction: row;
  }

/********** mobile **********/
@media (max-width: 320px) {
  body {
    height: 100%; 
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 50px 0;
  }
  .container .card {
    width: 90%;
  }
  .container .card .subtitle {
    font-size: 12px;
  }
  .container .card .title {
    font-size: 24px;
  }
  .container .card .price {
    font-size: 12px;
  }
  .container .card .price span {
    font-size: 14px;
  }
  .container .card .description p {
    font-size: 12px;
  }
  .container .card .description .check {
    width: 12px;
  }
  .container .card .description .info {
    width: 12px;
  }
}