:root {
  --color-1: #0F172A;
  --color-2: #1E293B;
  --color-3: #996DFF;
  --color-4: #FBA94C;
  --color-5: #1B873F;
  --color-6: #CBD5E1;
  --color-7: #E2E8F0;
  --color-8: #F8FAFC;
  --color-9: #334155;
  --color-10: #475569;
}